---

import Layout from "../layouts/Layout.astro";

---

<Layout title="Programing Lenguage">
  <main>
    <p>
      This is a new page! You can find it at <code>src/pages/hello.astro</code>.
    </p>
  </main>
</Layout>