---
export interface Props {
  message: string;
}

const { message } = Astro.props;
---

<p class="instructions">
    {message}
</p>

<style>
    .instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
